In [46]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols

# dados
data = pd.read_csv('data/Advertising.csv', header=(0))
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

A coluna 'Unnamed' pode ser removida

In [47]:
del data[data.columns[0]]
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [48]:
dictionary = {}
size = len(data.columns)

for i in range(size):
    string = f'X{i + 1}'
    dictionary[string] = data[data.columns[i]]

In [49]:
df = pd.DataFrame(dictionary)
string = f'X{len(data.columns)} ~ '

j = 0
for i in dictionary.keys():
    j += 1
    if j == len(data.columns) - 1:
        string += i
        break
    string += i + ' + '
print(string)

X4 ~ X1 + X2 + X3

In [50]:
model = ols(string, df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     X4   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Thu, 20 Oct 2022   Prob (F-statistic):           1.58e-96
Time:                        15:15:44   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.9389      0.312      9.422      0.000       2.324       3.554
X1             0.0458      0.001     32.809      0.000       0.043       0.049
X2             0.1885      0.009     21.893      0.000       0.172       0.206
X3            -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Ja que o R-squared é alto, então este modelo é bom para prever os dados