In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# CSV file
data = pd.read_csv('data/iris.csv', header=(0))
data.head(25)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa

In [40]:
from sklearn.preprocessing import MinMaxScaler
# considera somente os atributos, ignorando a última coluna, que contem a classe
X = np.array(data[data.columns[0:data.shape[1]-1]])
# prepara a função para transformar os dados
scaler = MinMaxScaler(feature_range=(0, 1))
# Realiza a normalização e coloca em um novo vetor
X_norm = scaler.fit_transform(X)
new_data = pd.DataFrame(X_norm)
new_data.head(25)

           0         1         2         3
0   0.222222  0.625000  0.067797  0.041667
1   0.166667  0.416667  0.067797  0.041667
2   0.111111  0.500000  0.050847  0.041667
3   0.083333  0.458333  0.084746  0.041667
4   0.194444  0.666667  0.067797  0.041667
5   0.305556  0.791667  0.118644  0.125000
6   0.083333  0.583333  0.067797  0.083333
7   0.194444  0.583333  0.084746  0.041667
8   0.027778  0.375000  0.067797  0.041667
9   0.166667  0.458333  0.084746  0.000000
10  0.305556  0.708333  0.084746  0.041667
11  0.138889  0.583333  0.101695  0.041667
12  0.138889  0.416667  0.067797  0.000000
13  0.000000  0.416667  0.016949  0.000000
14  0.416667  0.833333  0.033898  0.041667
15  0.388889  1.000000  0.084746  0.125000
16  0.305556  0.791667  0.050847  0.125000
17  0.222222  0.625000  0.067797  0.083333
18  0.388889  0.750000  0.118644  0.083333
19  0.222222  0.750000  0.084746  0.083333
20  0.305556  0.583333  0.118644  0.041667
21  0.222222  0.708333  0.084746  0.125000
22  0.083333  0.666667  0.000000  0.041667
23  0.222222  0.541667  0.118644  0.166667
24  0.138889  0.583333  0.152542  0.041667