In [14]:
import pandas as pd
data = pd.read_csv('BostonHousing.csv')
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [16]:
import numpy as np
from statsmodels.formula.api import ols

In [17]:
dictionary = {}

for i in range(len(data.columns)):
    string = f'X{i + 1}'
    dictionary[string] = data[data.columns[i]]

In [19]:
df = pd.DataFrame(dictionary)
model = ols('X14 ~ X1 + X2 + X3 + X4 + X5 + X6 + X7 + X8 + X9 + X10 + X11 + X12 + X13', df).fit()

In [20]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    X14   R-squared:                       0.741
Model:                            OLS   Adj. R-squared:                  0.734
Method:                 Least Squares   F-statistic:                     108.1
Date:                Thu, 20 Oct 2022   Prob (F-statistic):          6.72e-135
Time:                        17:47:58   Log-Likelihood:                -1498.8
No. Observations:                 506   AIC:                             3026.
Df Residuals:                     492   BIC:                             3085.
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     36.4595      5.103      7.144      0.000      26.432      46.487
X1            -0.1080      0.033     -3.287      0.001      -0.173      -0.043
X2             0.0464      0.014      3.382      0.001       0.019       0.073
X3             0.0206      0.061      0.334      0.738      -0.100       0.141
X4             2.6867      0.862      3.118      0.002       0.994       4.380
X5           -17.7666      3.820     -4.651      0.000     -25.272     -10.262
X6             3.8099      0.418      9.116      0.000       2.989       4.631
X7             0.0007      0.013      0.052      0.958      -0.025       0.027
X8            -1.4756      0.199     -7.398      0.000      -1.867      -1.084
X9             0.3060      0.066      4.613      0.000       0.176       0.436
X10           -0.0123      0.004     -3.280      0.001      -0.020      -0.005
X11           -0.9527      0.131     -7.283      0.000      -1.210      -0.696
X12            0.0093      0.003      3.467      0.001       0.004       0.015
X13           -0.5248      0.051    -10.347      0.000      -0.624      -0.425
==============================================================================
Omnibus:                      178.041   Durbin-Watson:                   1.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              783.126
Skew:                           1.521   Prob(JB):                    8.84e-171
Kurtosis:                       8.281   Cond. No.                     1.51e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+04. This might indicate that there are
strong multicollinearity or other numerical problems.